﻿<!DOCTYPE HTML>
<html>
<head>
    <title>数据转发中间件</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script> 
    <style type="text/css">
        body{
            margin:0;padding:0;border:0;width:100%;height:100%;overflow:visible;
        }    
  
    </style>
</head>
<body >    
    
 

</body>
</html>